/** CSS RESETS **/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body, html {
  margin: 0;
  padding: 0;
}


/** END CSS RESETS **/
html {
	font-size: 1.25rem;
	font-size: calc(1rem + 4 * ((100vw - 320px) / 1280));
}
body {
	font-family: 'Roboto', sans-serif;
	color: rgba(0,0,0,0.87);
}

section, footer {
	padding: 2em 0;
}

header {
	padding: 5em 0;
}

.shaded {
	background: #EEE;
}

.warn {
	background: #EAE8BA;
}

h1, h2, h3, h4, h5{
	font-family: 'Roboto', sans-serif;
	font-weight:  400;
	margin: 0;
}

h1 {
	font-size: 3.5rem;
	margin-bottom: 0.5rem;
}

h2 {
	margin-bottom: 0.5rem;
}

.sub {
	font-size: 1.5rem;
}

.bigicon {
	background: #1976D2;
	padding: 1em;
	margin-bottom: 0.5em;
	border-radius: 2px;
	transition: all 0.2s ease-in-out, font-size 1ms;
	text-align: center;
	text-decoration: none;
	display: block;
}

.bigicon:hover {
	background: #0D47A1;
	transform: scale(0.98);
}

.icon {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	stroke-width: 0;
	stroke: currentColor;
	fill: white;
	
}

.icons {
}

.description {
	color: white;
	margin-top: 1rem;
}

.nb {
	margin-bottom: 0
}

p, li {
	line-height: 1.5
}

@media (max-width:575px) {
	h1 {
		font-size: 2rem;
	}

	header {
		padding: 2.5rem 0;
	}

	.bigicon {
		overflow: hidden
	}

	.icon {
		float: left;
		height: 1.5rem;
		width: 1.5rem;
	}

	.description {
		margin-top: 0.25rem;
		text-align: left;
		margin-left: 3em;
	}
}